
<div class="login-container">
  <div class="glass-card">
    <div class="login-form-container">
      <div class="login-form-content">
        <h2 class="login-title">Reset Password</h2>
          <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" formControlName="password" required />
          </div>
          
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" required />
          </div>

          <div class="form-options">
            <button type="submit" class="btn-primary" [disabled]="resetPasswordForm.invalid">
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
