<div class="dashboard-container" *ngIf="!showCreateSlot">
  <div class="header">
    <h2>Appointment Dashboard</h2>
    <button (click)="toggleCreateSlot()">+ Add Slot</button>
  </div>

  <!-- <table class="dashboard-table" *ngIf="dashboardData.length > 0">
    <thead>
      <tr>
        <th>Date</th>
        <th>Total Slots</th>
        <th>Booked</th>
        <th>Remaining</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of dashboardData">
        <td>{{ d.date }}</td>
        <td>{{ d.totalSlots }}</td>
        <td>{{ d.bookedCount }}</td>
        <td>{{ d.remainingCount }}</td>
      </tr>
    </tbody>
  </table> -->

    <table class="dashboard-table" *ngIf="dashboardGrouped.length > 0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Total Slots</th>
          <th>Booked</th>
          <th>Remaining</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let d of dashboardGrouped">
          <!-- Summary row -->
          <tr (click)="toggleExpand(d)" class="summary-row">
            <td>{{ d.date }}</td>
            <td>{{ d.totalSlots }}</td>
            <td>{{ d.bookedCount }}</td>
            <td>{{ d.remainingCount }}</td>
          </tr>

          <!-- Expanded interval rows -->
          <ng-container *ngIf="d.expanded">
            <tr class="interval-row" *ngFor="let i of d.intervals">
              <td></td> <!-- empty cell for alignment -->
              <td>{{ i.fromTime }} - {{ i.toTime }}</td>
              <td>{{ i.bookedCount }}</td>
              <td>{{ i.remainingCount }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

  <div class="empty" *ngIf="!loading && dashboardGrouped.length === 0">
    No appointment data available.
  </div>

  <div class="loading" *ngIf="loading">Loading...</div>
</div>

<div *ngIf="showCreateSlot">
  <app-create-appointment-slot (backToDashboard)="toggleCreateSlot()"></app-create-appointment-slot>
</div>