<!-- <div class="app-container"> -->
    <!-- <button class="menu-button" (click)="toggleMenu()">☰</button> -->

    <div class="menu-container" id="menu">
      <div class="menu">
        <div class="menu-header">
          <span class="menu-close" (click)="toggleMenu()">X CLOSE</span>
          <!-- <span class="menu-title">111W57</span>
          <button class="menu-inquire">INQUIRE</button> -->
        </div>
        <div class="menu-content">
            <div class="menu-left">
              <img src="/assets/images/1730281594.jpg" alt="Menu Image" class="menu-image" />
            </div>
            <div class="menu-right">
              <ul class="menu-links flex flex-col gap-y-20">
                <li class="overflow-hidden">
                  <a href="/residences" class="menu-link">Residences</a>
                </li>
                <li class="overflow-hidden">
                  <a href="/services" class="menu-link">Services</a>
                </li>
                <li class="overflow-hidden">
                  <a href="/design" class="menu-link">Design</a>
                </li>
                <li class="overflow-hidden">
                  <a href="/neighborhood" class="menu-link">Neighborhood</a>
                </li>
                <li class="overflow-hidden">
                  <a href="/availability" class="menu-link">Availability</a>
                </li>
                <li class="overflow-hidden">
                  <a href="/contact-us" class="menu-link">Contact</a>
                </li>
                <li class="overflow-hidden">
                  <a href="/about-us" class="menu-link">About Us</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  <!-- </div> -->
  
   <!-- menu.component.html -->
<!-- <div class="app-container">
    <div class="menu-container" id="menu">
      <div class="menu">
        <div class="menu-header">
          <span class="menu-close" (click)="toggleMenu()">CLOSE</span>
          <span class="menu-title">111W57</span>
          <button class="menu-inquire">INQUIRE</button>
        </div>
        <div class="menu-content">
          <div class="menu-left">
            <img src="/assets/images/1730281594.jpg" alt="Menu Image" class="menu-image" />
          </div>
          <div class="menu-right">
            <ul class="menu-links">
              <li><a (click)="setBreadcrumb('/home')" class="menu-link">Home</a></li>
              <li><a (click)="setBreadcrumb('/services')" class="menu-link">Services</a></li>
              <li><a (click)="setBreadcrumb('/design')" class="menu-link">Design</a></li>
              <li><a (click)="setBreadcrumb('/neighborhood')" class="menu-link">Neighborhood</a></li>
              <li><a (click)="setBreadcrumb('/availability')" class="menu-link">Availability</a></li>
              <li><a (click)="setBreadcrumb('/contact-us')" class="menu-link">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->