// App.component.scss
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

app-header {
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Keep the header above other elements */
  height: 50px; /* Set the exact height of the header */
}

.body-content {
  flex: 1;
  margin-top: 60px;
}

.app-footer {
  background: #f8f9fa; /* Footer background color */
  position: relative;  /* Make sure footer is part of normal layout flow */
  z-index: 1000;         /* Ensure footer is below the slider */
}

.dashboard-wrapper {
  display: flex;
  width: 100%;
}

.dashboard-content {
  flex-grow: 1;
  padding: 15px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.main-content {
  margin-top: 10px; // below header
  margin-left: 20px; // below header
  flex: 1;
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 120px); // minus header + footer
}
.page-body {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}