$black: #191919;
$primery: #F27900;
$orangeThin:#FEF8F1;
$orangeLight:#FFB361;
$gray:#616161;
$grayThin:#B7B7B7;
$grayLight:#E0E0E0;
$disabled-btn:#929292;
$white:#fff;
$hoverEffect:#eeeeee;
$activeGray:#f8f8f8;

// error 
$error:#E92300;
$success: #1E9400;

