.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .dashboard-content {
    flex-grow: 1;
    margin-left: 220px;
    padding: 20px;
  
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
  