<div *ngIf="loading" class="loader-overlay">
  <div class="spinner"></div>
</div>

<div class="login-container">
  <div class="glass-card">
    <div class="login-form-container">
      <div class="login-form-content">
        <h2 class="login-title">Forgot Password</h2>
          <form class="login-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" placeholder="Enter your registered email" required />
          </div>
          <div class="form-options">
            <button type="submit" class="btn-primary" [disabled]="forgotPasswordForm.invalid">
              Send Reset Link
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
